@using Salotto.Resources
@using Youbiquitous.Martlet.Core.Extensions
@model Salotto.App.Models.Login.UserViewModel

@{
    var user = Model.RelatedUser;
}

<form id="password-form" autocomplete="off" method="post" action="/user/cp">
    <hidden id="userid" value="@user.UserId"></hidden>
    <div>
        <div class="form-floating mb-3 mt-4">
            <input type="text" class="form-control password" id="old-p" name="oldpassword"
                   onpaste="return false;"
                   oncut="return false;"
                   oncopy="return false;"
                   placeholder=" "
                   autocomplete="off">
            <label for="old-p">@AppStrings.Label_OldPassword</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control password" id="new-p1" name="newpassword"
                   onpaste="return false;"
                   oncut="return false;"
                   oncopy="return false;"
                   placeholder=" "
                   autocomplete="off">
            <label for="new-p1">@AppStrings.Label_NewPassword</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control password" id="new-p2" name="repeatpassword"
                   onpaste="return false;"
                   oncut="return false;"
                   oncopy="return false;"
                   placeholder=" "
                   autocomplete="off">
            <label for="new-p2">@AppStrings.Label_RepeatPassword</label>
        </div>

        <div id="message-pswd" class="text-center bold text-danger mt-3"></div>
        <div class="mt-5 text-center">
            <a id="cp" class="btn btn-success px-5">
                <i class="fal fa-save"></i>
                <span>@AppMenu.ChangePassword</span>
            </a>
        </div>
    </div>
</form>

<script>
    $("#cp").click(function() {
        Ybq.postForm("#password-form",
            function(data) {
                var response = JSON.parse(data);
                Ybq.alert(response.message, response.success)
                    .then(function() {
                        var url = "/home/index";
                        if (response.success) {
                            Ybq.goto(url)
                        }
                    });
            });
    });
</script>