@using Salotto.App.Common.Settings
@using Salotto.Resources
@model Salotto.App.Models.UserAccount.SetPasswordViewModel

@{
    Layout = "Layouts/_layout_Login";
}


@section adhoc_css
{
    <link href="~/css/app-assets/sb-admin-2.min.css" rel="stylesheet" />
}

@section adhoc_scripts_bottom
{
    <script src="~/js/app-assets/tms-login.min.js"></script>
    <script src="~/js/lib/Ybq/ybq-forms.min.js"></script>

}

<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg mt-9 mb-1">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-4">
                            <div class="text-center mb-3">
                                <div class="text-center text-uppercase">
                                    <img src="/images/logos/logo-login.png" height="150" />
                                </div>

                            </div>
                            @if (Model.HasError)
                            {
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"><span class="bold">@AppMessages.Err_UserNotFound</span></h1>
                                </div>

                            }
                            else
                            {
                                <div class="text-center mb-3">
                                    <h1 class="h4 text-gray-900 text-center">@AppStrings.Text_Hi <span class="bold">@Model.User.Email</span> @AppStrings.Text_SetYourPassword</h1>
                                </div>

                                <form id="reset-form" action="/login/reset" method="post" class="user">
                                    <hidden id="userId" value="@Model.User.UserId" />
                                    <hidden id="token" value="@Model.User.PasswordResetToken" />
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control password text-required" name="psw1"
                                               id="psw1" placeholder="Password">
                                        <label for="psw1" class="text-required-label">@AppStrings.Label_Password</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="text" class="form-control password text-required" name="psw2"
                                               id="psw2" placeholder="Password">
                                        <label for="psw2" class="text-required-label">@AppStrings.Label_RepeatPassword</label>
                                    </div>
                                    <div class="text-center mb-3 mt-3">
                                        <a id="reset-trigger" class="btn btn-primary btn-login">
                                            @AppStrings.Text_SetPassword
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small text-dark" href="/login/login">@AppStrings.Text_Login</a>
                                    </div>
                                </form>
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>


<script>
    var Err_IncompleteCredentials = "@AppMessages.Err_IncompleteCredentials";
    var Info_Connecting = "@AppMessages.Info_Connecting";
    var System_SomethingWentWrong = "@AppMessages.System_SomethingWentWrong";
    var System_ConnectionError = "@AppMessages.System_ConnectionError";
</script>


<script>
    $("#reset-trigger").click(function () {
        var psw1 = $("#psw1").val();
        var psw2 = $("#psw2").val();
        if (psw1 == null || psw1 === "" || psw1 === " " || psw2 == null || psw2 === "" || psw2 === " " || psw1 != psw2) {
            Ybq.alert("@AppMessages.Err_PswAreDifferent", false, null, 3000);
            return;
        }

        Ybq.postForm("#reset-form",
            function (data) {
                var response = JSON.parse(data);
                Ybq.alert(response.message, response.success)
                    .then(function () {
                        var url = "/login/login";
                        if (response.success) {
                            Ybq.goto(url)
                        }
                        else {
                            window.location.reload();
                        }
                    });
            });
    });
</script>